/************************ General *****************************/
/****** Fonts ******/
/** Font Awesome **/
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/** Sites **/
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url(https://fonts.gstatic.com/s/arvo/v13/tDbO2oWUg0MKqSIoVLHK9g.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v13/tDbM2oWUg0MKoZw1yLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkhdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPa7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lBdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rAkA.ttf) format('truetype');
}
/* Call to fonts
  font-family: 'Arvo', serif;
  font-family: 'Source Sans Pro', sans-serif;
*/
/****** End Fonts ******/
/****** Colors ******/
/****** End Colors ******/
/****** Mixins ******/
/** Fonts **/
.fa {
  font-family: 'FontAwesome';
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
.ft {
  font-family: 'Arvo', serif;
}
.fss {
  font-family: 'Source Sans Pro', sans-serif;
}
/** Icones **/
::before {
  font-family: 'FontAwesome';
}
.ico-nav a {
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ico-nav a:before {
  font-weight: 900;
  content: '\f015';
  color: #E5E5E5;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  background: #888888;
  padding: 5px;
  border: 1px solid #888888;
  border-radius: 25px;
  width: 35px;
  height: 35px;
}
.ico-nav a:hover,
.ico-nav a:focus,
.ico-nav a:active {
  color: #ED786A;
}
.ico-nav a:hover:before,
.ico-nav a:focus:before,
.ico-nav a:active:before {
  color: #FFFFFF;
  background: #ED786A;
  border-color: #ED786A;
}
body {
  box-sizing: border-box;
}
body h2,
body h3,
body h4,
body h5,
body h6,
body a,
body p,
body span {
  font-family: 'Source Sans Pro', sans-serif;
  color: #888888;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}
body h2 strong {
  color: #3C3C3C;
}
body h3 {
  font-size: 16px;
  font-weight: bold;
}
.titre {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
ul li a:hover {
  text-decoration: none;
}
body .container-fluid {
  margin: 0;
  padding: 0;
}
.separateur {
  display: block;
  height: 10px;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 150px;
}
.btn-art {
  background: #ED786A;
  box-shadow: 0 3px #E5E5E5;
  border: 1px solid #ED786A;
  border-radius: 4px;
  padding: 10px 60px;
}
.btn-art::before {
  color: #FD887A;
  font-weight: 900;
  content: '\f15b';
  font-size: 18px;
  margin-right: 7px;
}
.btn-art span {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
/************************ End General *****************************/
header {
  margin: 50px 0;
}
main {
  margin-bottom: 150px;
}
.cont-title {
  text-align: center;
  margin: 150px 0 100px 0;
}
.cont-title h1 {
  font-family: 'Arvo', serif;
  font-size: 62px;
  color: #ED786A;
  text-shadow: 3px 3px #E5E5E5;
  letter-spacing: 14px;
  margin-bottom: 50px;
}
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-menu li {
  display: inline-block;
  flex: 1;
  /*Style link & icones: General */
}
.main-menu li a {
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-menu li a:before {
  font-weight: 900;
  content: '\f015';
  color: #E5E5E5;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  background: #888888;
  padding: 5px;
  border: 1px solid #888888;
  border-radius: 25px;
  width: 35px;
  height: 35px;
}
.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li a:active {
  color: #ED786A;
}
.main-menu li a:hover:before,
.main-menu li a:focus:before,
.main-menu li a:active:before {
  color: #FFFFFF;
  background: #ED786A;
  border-color: #ED786A;
}
.main-menu li.link-truc a:before {
  content: '\f080';
}
.main-menu li.link-rouages a:before {
  content: '\f013';
}
.main-menu li.link-boucle a:before {
  content: '\f2f1';
}
.main-menu li.link-fausse a:before {
  content: '\f6ff';
}
main h2 {
  margin-bottom: 50px;
}
.cont-img {
  border: 7px solid #E5E5E5;
  overflow: hidden;
}
.cont-articles {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.cont-articles .card {
  flex: 1;
  padding: 25px;
  text-align: center;
  border: none;
}
.cont-articles .card h3 {
  margin-top: 50px;
  margin-bottom: 25px;
}
section h3,
aside h3,
section h4,
aside h4,
section span,
aside span,
section .cont-btn,
aside .cont-btn {
  text-align: left;
}
section .cont-articles {
  flex-direction: column;
}
section .cont-articles .card {
  padding: 0;
}
section .cont-articles .card .cont-img {
  margin-bottom: 50px;
}
section .cont-articles .card h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 55px;
}
section .cont-articles .card h4 {
  margin-bottom: 25px;
}
section .cont-articles h3:first-of-type {
  margin-top: 0;
}
section .cont-articles .card:nth-child(3) h3 {
  margin-top: 25px;
}
section .cont-articles .separateur {
  margin: 0;
}
section .art-desc {
  margin-bottom: 75px;
}
.cont-btn {
  text-align: center;
  margin-bottom: 50px;
}
.container-fluid .separateur {
  margin-bottom: 5px;
  border-bottom: none;
}
.container-fluid .separateur:last-child {
  border-top: none;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 150px;
}
.cont-emile {
  background: url('../../images/banner.jpg') repeat;
  max-height: 473px;
  width: 100%;
  text-align: center;
  padding: 100px;
}
.cont-emile span {
  font-size: 50px;
  color: #E5E5E5;
  text-transform: uppercase;
}
.cont-post {
  margin-bottom: 25px;
  border-bottom: 2px solid #E5E5E5;
}
.cont-post .date {
  padding: 5px 15px;
  margin-bottom: 25px;
  background: #777777;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 3px #E5E5E5;
}
.cont-post .date span {
  color: #FFFFFF;
  text-transform: uppercase;
}
.cont-post h3 {
  margin-bottom: 25px;
}
.cont-post .art-desc {
  display: inline-block;
  margin-bottom: 50px;
}
.cont-post:last-child {
  border-bottom: none;
}
aside .cont-articles {
  flex-direction: column;
}
aside .cont-articles .card {
  border-bottom: 2px solid #E5E5E5;
}
aside .cont-articles .card .cont-img {
  text-align: left;
  margin-bottom: 25px;
}
aside .cont-articles .card .art-desc {
  margin-bottom: 50px;
}
aside .cont-articles .card:last-child {
  border-bottom: none;
}
/*# sourceMappingURL=style.css.map */